@keyframes glitch {
    0% {
      transform: translateX(0) skewX(0);
    }
    10% {
      transform: translateX(-3px) skewX(-5deg);
    }
    20% {
      transform: translateX(3px) skewX(5deg);
    }
    30% {
      transform: translateX(-2px) skewX(-3deg);
    }
    40% {
      transform: translateX(2px) skewX(3deg);
    }
    50% {
      transform: translateX(0) skewX(0);
    }
    60% {
      transform: translateX(-3px) skewX(-5deg);
    }
    70% {
      transform: translateX(3px) skewX(5deg);
    }
    80% {
      transform: translateX(-2px) skewX(-3deg);
    }
    90% {
      transform: translateX(2px) skewX(3deg);
    }
    100% {
      transform: translateX(0) skewX(0);
    }
  }
  
  .animate-glitch {
    animation: glitch 60s infinite linear alternate-reverse; /* Slower animation */
  }
  